.progress{
    background-color: var(--progress-background);
}

.progress-bar{
    background-color: #895AF6 !important;
}
.progress-container{
    border: 1px solid var(--border);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.timer{
    border: 1px solid var(--border);
    display: inline-block;
    background-color: #895AF6;
    color:#fff;

}