.result{
  background: var(--container-bg);
  border:1px solid var(--border);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.3s ease-in-out;
}
.trophy{
  animation-name: Trophy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}
@keyframes Trophy{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}
.achievement{
  border: 1px solid var(--border);
  
}
.points{
  border:1px solid var(--border);
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  border-radius: 20px;   
  margin-top: 0;
}
.point-icon{
  padding: 10px;
  border-radius: 10px;
}